# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / venv
.env
.venv
conda-meta/
env/
envs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pulseq
*.seq

# Plots
*.png
*.pdf
